name: Build RaytrAMP

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Build Solution
        shell: cmd
        run: |
          msbuild CPP\RaytrAMP.sln ^
            /p:Configuration=Release ^
            /p:Platform=x64 ^
            /p:WindowsTargetPlatformVersion=10.0 ^
            /p:PlatformToolset=v143 ^
            /p:CL_AdditionalOptions="/D_SILENCE_AMP_DEPRECATION_WARNINGS %(CL_AdditionalOptions)"

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: RaytrAMP-Release
          path: |
            **\Release\*.exe
            **\x64\Release\*.exe


